#seccion {

    background-image: url("../imagenes/oficina1r.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-bottom: 30px;

}

#formulario {
    background-color: rgba(0,0,0,0.65);
    width: 83%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    padding: 10px;
    text-align: center;

}

#sinEstilo {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

nav{
    background-color: #C40B0B;
}

#link {
    transition: 0.2s ease;
  padding: 10px 0;
  margin: 0 10px;
}

#link:hover {
    border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 3px 0;
}

#botonFormulario {
    background-color: #C40B0B;
    color: #ffffff;
}

#botonCancelar {
    background-color: #636363;
    color: #ffffff;
}

#topVisitas {
    background-color: #E2E2E2;
}

#fondo:before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;

    background-color: rgba(0,0,0,0.4);
    transition: transform .2s;

}

#fondo:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    filter: brightness(0.6);
}

  .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  }

  .flip-card-inner {
  transition: transform 1.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }

  .flip-card-front {
  color: black;
  }

  .flip-card-back {
  color: white;
  transform: rotateY(180deg);
  }

  .card-title {
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .titulos {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
}

#animaciontitulo {
    background-image: linear-gradient(#3e5742, #3e5742);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#animaciontitulo:hover, #animaciontitulo:focus {
    background-size: 22% 2px;
}

#titulo {
    background-image: linear-gradient(#3e5742, #3e5742);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#titulo:hover, #titulo:focus {
    background-size: 22% 2px;
}


.letrasCard {
    margin-top: 5px;
    font-size: large;
}

#video {
    text-align: center;
    background-color: #BAB9B7;
}

hr {
    background-color: #C40B0B;
}

#bodyregistro, #bodylogin {
      background-image: url("../imagenes/descarga.jfif");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
}

 @media only screen and (min-width: 0px) and (max-width: 900px) {
    #seccion {
        background-image: url("../imagenes/fondo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        padding-bottom: 30px;

    }


}
