#seccion {
    background-image: url("../../public/imagenes/oficina1r.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-bottom: 30px;

}

#formulario {
    background-color: rgba(0,0,0,0.65);
    width: 83%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    padding: 10px;
    text-align: center;

}

nav{
    background-color: #C40B0B;
}

#link {
    transition: 0.2s ease;
  padding: 10px 0;
  margin: 0 10px;
}

#link:hover {
    border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 3px 0;
}

#botonFormulario {
    background-color: #C40B0B;
    color: #ffffff;
}

#topVisitas {
    background-color: #E2E2E2;
}

#fondo:before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}

.letrasCard {
    margin-top: 5px;
    font-size: large;
}

#video {
    text-align: center;
    background-color: #BAB9B7;
}

hr {
    background-color: #C40B0B;
}

#bodyregistro, #bodylogin {
      background-image: url("../../public/imagenes/rio.gif");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
}

 @media only screen and (min-width: 0px) and (max-width: 900px) {
    #seccion {
        background-image: url("../../public/imagenes/fondo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        padding-bottom: 30px;

    }


}
